/* Global styles */
.Home {
  margin-top: 50px;
  display: grid;
  max-height: 600px;
  overflow: scroll;
  grid-template-areas:

    "title title"
    "days-of-the-week-container days-of-the-week-container"
    "cuisine-container alg-container"
    "cuisine-container alg-container"
    "intolerance-container people-container"
    "intolerance-container people-container"
    "exclude-container time-container"
    "exclude-container time-container"

    "generate-button generate-button"
    "week-calendar week-calendar"
    "regenerate-button save-button";
  gap: 20px;
}

/* Title */
h1 {
  grid-area: title;
}

/* Section of days of the week prompt */
.days-of-the-week-prompt-text {
  grid-area: days-of-the-week-prompt;
  background-color: #f0f0f0; /* Set a background color */
  padding: 10px; /* Add padding to provide spacing */
}

.days-box {
  grid-area: days-of-the-week-buttons;
  background-color: #f0f0f0; /* Set a background color */
  padding: 10px; /* Add padding to provide spacing */
}

.generate-button-container {
  grid-area: generate-button;
}

/* Generate button styles */
.generate-button {
  width: 200px; /* Set width to make it large */
  height: 60px; /* Set height to make it large */
  background-color: #974ab1; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove border */
  border-radius: 10px; /* Add border radius */
  font-size: 20px; /* Increase font size */
  cursor: pointer;
  margin-top: 20px; /* Add margin top to position lower down */
}

.generate-button:hover {
  background-color: #7d3c8e;
}

/* Container for week calendar view */
.week-calendar-container {
  grid-area: week-calendar;
}

.regenerate-button-container {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-end; /* Align content to the left */
}

.save-data-button-container {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start; /* Align content to the right */
}

.regenerate-button,
.save-button {
  width: 310px; /* Set a fixed width for both buttons */
  height: 50px;
  padding: 12px 0; /* Adjust padding to center the text vertically */
  background-color: #974ab1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.regenerate-button:hover,
.save-button:hover {
  background-color: #7d3c8e; /* Darker shade on hover */
}


.days-of-the-week-container {
  grid-area: days-of-the-week-container; /* Specify the grid area for the container */
  display: flex; /* Use flexbox to align items horizontally */
  background-color: #f0f0f0; /* Set a background color to create a unified highlight */
  padding: 10px; /* Add padding to the container */
}

/* Style for days of the week prompt text */
.days-of-the-week-prompt-text,
.days-of-the-week-buttons {
  flex: 1; /* Allow the buttons to take up remaining space */
}

.cuisine-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f0f0f0; /* Set a background color to create a unified highlight */
  padding: 10px; /* Add padding to the container */
}

.cuisine-prompt-text,
.cuisine-options-box {
  flex: 1;
}

.alg-container {
  grid-template-columns: 1fr;
  grid-template-areas:
    "algorithm-prompt"
    "algorithm-options";
  display: grid; /* Use flexbox to align items horizontally */
  background-color: #f0f0f0; /* Set a background color to create a unified highlight */
  padding: 10px; /* Add padding to the container */
}

.algorithm-prompt-text,
.algorithm-options-box {
  flex: 1;
}

.intolerance-container {
  grid-template-columns: 1fr;

  display: grid;
  background-color: #f0f0f0; /* Set a background color to create a unified highlight */
  padding: 10px; /* Add padding to the container */
}

.intolerances-prompt-text,
.intolerances-options-box {
  flex: 1;
}

.time-container {
  grid-template-columns: 1fr;

  display: grid;
  background-color: #f0f0f0; /* Set a background color to create a unified highlight */
  padding: 10px; /* Add padding to the container */
}
.max-time-prompt-text,
.max-time-options-box {
  flex: 1;
}
.exclude-container {
  grid-template-columns: 1fr;

  display: grid;
  background-color: #f0f0f0; /* Set a background color to create a unified highlight */
  padding: 10px; /* Add padding to the container */
}
.exclude-prompt-text,
.exclude-options-box {
  flex: 1;
}

.people-container {
  grid-template-columns: 1fr;

  display: grid;
  background-color: #f0f0f0; /* Set a background color to create a unified highlight */
  padding: 10px; /* Add padding to the container */
}
.num-people-prompt-text,
.num-people-options-box {
  flex: 1;
}
