/* Global styles */
.Home {
  display: grid;
  grid-template-areas:
    "title title"
    "days-of-the-week-prompt days-of-the-week-buttons"
    "cuisine-prompt cuisine-options";
  gap: 20px;
}

/* Title */
h1 {
  grid-area: title;
}

/* Section of days of the week prompt */
.days-of-the-week-prompt-text {
  grid-area: days-of-the-week-prompt;
}

/* Section of cuisine prompt */
.cuisine-prompt-text {
  grid-area: cuisine-prompt;
}

/* Section of days of the week buttons */
.days-of-the-week-buttons {
  grid-area: days-of-the-week-buttons;
  display: flex;
  align-items: center;
}

/* Box with options (dropdown) */
.cuisine-options-box {
  grid-area: cuisine-options;
  display: flex;
  align-items: center;
}
