.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Set a high z-index to ensure it appears on top */
}

.popup-content {
  background-color: white;
  padding: 20px;
  min-height: 20vh;
  min-width: 50%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative; /* Added */
  width: 1000px; /* Adjust the width as needed */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-family: Arial, sans-serif; /* Change font family here */
  color: #666;
  font-size: 1.5rem;
  cursor: pointer;
}

.close-button:hover {
  color: #333;
}

.like-button-container-info {
  position: absolute;
  top: 23px; /* Adjust the positioning to align the heart icon properly */
  right: 80px; /* Adjust the positioning to align the heart icon properly */
}

.like-button-container-info button {
  font-size: 7px; /* Adjust the font size to make the button smaller */
  background-color: transparent;
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
}

.like-button-container-info button span {
  font-size: 50px; /* Adjust the heart icon's font size to make it larger */
}
