.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Set a high z-index to ensure it appears on top */
}

.popup-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  min-height: 20vh;
  min-width: 50%;
  max-height: 80vh;
  overflow: scroll;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative; /* Added */
  width: 1000px; /* Adjust the width as needed */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-family: Arial, sans-serif; /* Change font family here */
  color: #666;
  font-size: 1.5rem;
  cursor: pointer;
}

.close-button:hover {
  color: #333;
  background-color: transparent;
}

.like-button-container-info {
  position: absolute;
  top: 23px; /* Adjust the positioning to align the heart icon properly */
  right: 80px; /* Adjust the positioning to align the heart icon properly */
}

.like-button-container-info button {
  font-size: 7px; /* Adjust the font size to make the button smaller */
  background-color: transparent;
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
}

.like-button-container-info button span {
  font-size: 50px; /* Adjust the heart icon's font size to make it larger */
}

.recipe-title {
  padding-bottom: 30px;
}

/* Left-align list items */
.popup-content ol li,
.popup-content ul li {
  text-align: left;
}

.grid-container {
  display: grid;
  display: flex;
  justify-content: center; /* Horizontally center the items */
  align-items: center; /* Vertically center the items */
}

.recipe-image-container {
  display: flex;
  justify-content: center;
}

.recipe-image-container,
.recipe-info {
  flex-grow: 1;
  width: 50%;
}

.recipe-image {
  max-width: 100%; /* Ensure the image does not exceed the container width */
  max-height: 100%; /* Ensure the image does not exceed the container height */
}

.recipe-info {
  display: flex;
  flex-direction: column;
}

.recipe-title {
  text-align: center;
  margin-bottom: 20px;
}

.recipe-info p {
  text-align: left;
  padding-left: 10px;
}

/* Style for the strikethrough effect */
.popup-content ol li label.strikethrough {
  text-decoration: line-through;
}

.steps {
  padding-top: 20px;
}
