.navbar {
  background-color: #7d5733;
  padding: 10px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-item:last-child {
  margin-left: auto; /* Pushes the last item to the right */
}
