.profile-container {
  display: flex;
  justify-content: center;
}
.right-side {
  overflow: scroll;
  display: flex;
  margin: 0 5em 0 5em;
  justify-content: space-evenly;
  align-items: flex-start;
  min-width: 600px;
  max-height: 80vh;
}
.likes {
  display: flex;
  margin: 2em 5em 2em 0;
  flex-direction: column;
}
.recipe-card {
  margin-bottom: 20px;
}

.dislikes {
  display: flex;
  margin: 2em 5em 2em 0;
  flex-direction: column;
}
.recipe-button {
  margin: 0 0 1em 0;
  border-radius: 0;
  width: 100%;
  font-family: Arial, sans-serif;
}
.name-display {
  color: #7a9364;
  margin-top: 0px;
}

.recipe-button:hover {
  background-color: #fab375;
  outline: none;
}
.exp3 {
  width: 300px;
  height: 300px;
  justify-content: left;
  background-image: url("../graphics/master.PNG");
  background-repeat: no-repeat;
  background-size: 100%;
}
.exp2 {
  width: 300px;
  height: 300px;
  justify-content: left;
  background-image: url("../graphics/moderate.PNG");
  background-repeat: no-repeat;
  background-size: 100%;
}
.exp1 {
  width: 300px;
  height: 300px;
  justify-content: left;
  background-image: url("../graphics/beginner.PNG");
  background-repeat: no-repeat;
  background-size: 100%;
}
