.recipe-card-container {
  width: 200px; /* Adjust width as needed */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: white;
}

.recipe-card {
  position: relative;
}

.recipe-header {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  border-bottom: 2px solid #ccc; /* Add a border at the bottom of the header */
}
.recipe-title {
  display: inline;
  margin: 10px;
  max-height: 150px;
  color: black;
  font-weight: bold;
  font-size: large;
  justify-content: center;
}

.like-button-container {
  position: absolute;
  top: -8px; /* Adjust the positioning to align the heart icon properly */
  right: -8px; /* Adjust the positioning to align the heart icon properly */
}

.like-button-container button {
  font-size: 7px; /* Adjust the font size to make the button smaller */
  background-color: transparent;
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
}

.like-button-container button span {
  font-size: 20px; /* Adjust the heart icon's font size to make it larger */
}
